.createCategory {
  display: flex;
  color: aliceblue;
  background-color: black;
  border-radius: 6px;
  border: none;
  font-size: 12px;
  padding: 10px 20px;
  width: 160px;
  align-items: center;
  justify-content: space-around;
  float: right;
}

.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 10px;
}
.bottom {
  display: flex;
  flex-direction: column;
}
.createCategory:hover {
  background-color: rgb(84, 84, 84);
  cursor: pointer;
}
.alert {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.column {
  flex: 40%;
}
.image {
  width: 80px;
  border-radius: 10%;
  height: 50px;
  margin-top: 10px;
}
.word {
  color: rgb(9, 108, 236);
}
