.createCategory {
  color: aliceblue;
  background-color: black;
  border-radius: 6px;
  border: none;
  font-size: 12px;
  padding: 10px 20px;
  width: 150px;
  justify-content: center;
}
.export {
  color: black;
  background-color: white;
  border: none;
  outline: none;
  font-size: 16px;
  font-weight: bold;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  cursor: pointer;
  display: flex;
  align-items: center;
}
.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.bottom {
  display: flex;
  flex-direction: column;
}
.createCategory:hover {
  background-color: rgb(84, 84, 84);
  cursor: pointer;
}
.alert {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.column {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.image {
  width: 80px;
  border-radius: 10%;
  height: 50px;
  margin-top: 10px;
}
.word {
  color: rgb(9, 108, 236);
}
.icons {
  margin-right: 5px;
}
