.label {
  text-align: left;
  margin-bottom: 5px;
  font-size: 18px;
  font-family: "Lexend";
  font-weight: bold;
}
.email {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 15px;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 300px;
}
.remember {
  display: flex;
  align-items: center;
  font-family: "Lexend";
  font-size: 18px;
  font-weight: 100;
}

.remember button {
  height: 20px;
}
.forgot {
  display: flex;
  align-items: center;
  font-family: "Lexend";
  font-size: 18px;
  font-weight: 100;
}

.forgot button {
  border: none;
  outline: none;
  background: white;
}
.align {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px auto;
  text-align: center;
  margin-bottom: 15%;
}
.signIn {
  color: rgb(254, 241, 241);
  font-family: sans-serif;
  width: 325px;
  height: 40px;
  font-size: 18px;
  text-align: center;
  justify-content: center;
  background: rgb(30, 28, 28);
  margin-bottom: 10px;
  align-items: center;
  border-radius: 5px;
}
.signIn:hover{
  color: white;
  background-color: #808080;
  cursor: pointer;
}

.or {
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #808080;
  font-size: 18px;
}

.social1 {
  color: #c71610ff;
  background: #fef1f1ff;
  height: 38px;
  width: 65px;
  padding: 10px 15px;
  margin: 5px 5px;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}

.social2 {
  color: #335ca6ff;
  background: #f3f6fbff;
  height: 38px;
  width: 65px;
  padding: 10px 15px;
  margin: 5px 5px;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}

.social3 {
  height: 38px;
  width: 65px;
  padding: 10px 15px;
  margin: 5px 5px;
  border-radius: 10px;
  border: none;
  outline: none;
  cursor: pointer;
}

.icon {
  height: 20px;
}
.parent {
  flex: 1;
  position: relative;
  max-height: 100vh;
  overflow: hidden;
}
.accountText {
  color: #808080;
  font-size: 24px;
  font-family: "Lexend";
  font-weight: 100;
}
.signUp {
  outline: none;
  border: none;
  background: white;
  cursor: pointer;
  font-size: 24px;
  font-family: "Lexend";
  font-weight: 100;
}