.iconBar {
    vertical-align: middle; /* Ensures icon is vertically centered */
  }
  
  .iconNavBar {
    text-decoration: none;
    color: black;
    vertical-align: middle; /* Ensures icon is vertically centered */
  }